<table >
<tr>
<td >
<button (click)=onClick(0) [(ngModel)]="x[0]">{{x[0]}}</button>
</td>
<td >
<button (click)=onClick(1) [(ngModel)]="x[1]">{{x[1]}}</button>
</td>
<td >
<button (click)=onClick(2) [(ngModel)]="x[2]">{{x[2]}}</button>
</td>
</tr>
<tr >
<td ><button (click)=onClick(3) [(ngModel)]="x[3]">{{x[3]}}</button></td>
<td ><button (click)=onClick(4) [(ngModel)]="x[4]">{{x[4]}}</button></td>
<td ><button (click)=onClick(5) [(ngModel)]="x[5]">{{x[5]}}</button></td>
</tr>
<tr >
<td ><button (click)=onClick(6) [(ngModel)]="x[6]">{{x[6]}}</button></td>
<td ><button (click)=onClick(7) [(ngModel)]="x[7]">{{x[7]}}</button></td>
<td ><button (click)=onClick(8) [(ngModel)]="x[8]">{{x[8]}}</button></td>
</tr>
</table>
<button (click)=add() id="last">click Me</button>